<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Variable_0">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="selected_parameter (index)"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="3"/>
        </config>
        <config key="Variable_1">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="selected_parameter"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="22 - Lufttemperatur - medel, 1 gång per månad"/>
        </config>
        <config key="Variable_2">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="selected_parameter (index)"/>
            <entry key="class" type="xstring" value="INTEGER"/>
            <entry key="value" type="xint" value="3"/>
        </config>
        <config key="Variable_3">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="selected_parameter"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="22 - Lufttemperatur - medel, 1 gång per månad"/>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="defaultValue">
            <config key="variable_value">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="21 - Byvind - max, 1 gång/tim"/>
            </config>
        </config>
        <entry key="hideInDialog" type="xboolean" value="false"/>
        <entry key="parameterName" type="xstring" value="selected_parameter"/>
        <entry key="label" type="xstring" value="Parameter selection"/>
        <entry key="description" type="xstring" value="Enter Description"/>
        <entry key="required" type="xboolean" value="true"/>
        <entry key="flowVariableName" type="xstring" value="selected_parameter"/>
        <config key="possible_choices">
            <entry key="array-size" type="xint" value="40"/>
            <entry key="0" type="xstring" value="21 - Byvind - max, 1 gång/tim"/>
            <entry key="1" type="xstring" value="39 - Daggpunktstemperatur - momentanvärde, 1 gång/tim"/>
            <entry key="2" type="xstring" value="11 - Global Irradians (svenska stationer) - medelvärde 1 timma, varje timme"/>
            <entry key="3" type="xstring" value="22 - Lufttemperatur - medel, 1 gång per månad"/>
            <entry key="4" type="xstring" value="26 - Lufttemperatur - min, 2 gånger per dygn, kl 06 och 18"/>
            <entry key="5" type="xstring" value="27 - Lufttemperatur - max, 2 gånger per dygn, kl 06 och 18"/>
            <entry key="6" type="xstring" value="19 - Lufttemperatur - min, 1 gång per dygn"/>
            <entry key="7" type="xstring" value="1 - Lufttemperatur - momentanvärde, 1 gång/tim"/>
            <entry key="8" type="xstring" value="2 - Lufttemperatur - medelvärde 1 dygn, 1 gång/dygn, kl 00"/>
            <entry key="9" type="xstring" value="20 - Lufttemperatur - max, 1 gång per dygn"/>
            <entry key="10" type="xstring" value="9 - Lufttryck reducerat havsytans nivå - vid havsytans nivå, momentanvärde, 1 gång/tim"/>
            <entry key="11" type="xstring" value="24 - Långvågs-Irradians - medelvärde 1 timma, varje timme"/>
            <entry key="12" type="xstring" value="40 - Markens tillstånd - momentanvärde, 1 gång/dygn, kl 06"/>
            <entry key="13" type="xstring" value="25 - Max av MedelVindhastighet - maximum av medelvärde 10 min, under 3 timmar, 1 gång/tim"/>
            <entry key="14" type="xstring" value="28 - Molnbas - lägsta molnlager, momentanvärde, 1 gång/tim"/>
            <entry key="15" type="xstring" value="30 - Molnbas - andra molnlager, momentanvärde, 1 gång/tim"/>
            <entry key="16" type="xstring" value="32 - Molnbas - tredje molnlager, momentanvärde, 1 gång/tim"/>
            <entry key="17" type="xstring" value="34 - Molnbas - fjärde molnlager, momentanvärde, 1 gång/tim"/>
            <entry key="18" type="xstring" value="36 - Molnbas - lägsta molnbas, momentanvärde, 1 gång/tim"/>
            <entry key="19" type="xstring" value="37 - Molnbas - lägsta molnbas, min under 15 min, 1 gång/tim"/>
            <entry key="20" type="xstring" value="29 - Molnmängd - lägsta molnlager, momentanvärde, 1 gång/tim"/>
            <entry key="21" type="xstring" value="31 - Molnmängd - andra molnlager, momentanvärde, 1 gång/tim"/>
            <entry key="22" type="xstring" value="33 - Molnmängd - tredje molnlager, momentanvärde, 1 gång/tim"/>
            <entry key="23" type="xstring" value="35 - Molnmängd - fjärde molnlager, momentanvärde, 1 gång/tim"/>
            <entry key="24" type="xstring" value="17 - Nederbörd - 2 gånger/dygn, kl 06 och 18"/>
            <entry key="25" type="xstring" value="18 - Nederbörd - 1 gång/dygn, kl 18"/>
            <entry key="26" type="xstring" value="15 - Nederbördsintensitet - max under 15 min, 4 gånger/tim"/>
            <entry key="27" type="xstring" value="38 - Nederbördsintensitet - max av medel under 15 min, 4 gånger/tim"/>
            <entry key="28" type="xstring" value="23 - Nederbördsmängd - summa, 1 gång per månad"/>
            <entry key="29" type="xstring" value="14 - Nederbördsmängd - summa 15 min, 4 gånger/tim"/>
            <entry key="30" type="xstring" value="5 - Nederbördsmängd - summa 1 dygn, 1 gång/dygn, kl 06"/>
            <entry key="31" type="xstring" value="7 - Nederbördsmängd - summa 1 timme, 1 gång/tim"/>
            <entry key="32" type="xstring" value="6 - Relativ Luftfuktighet - momentanvärde, 1 gång/tim"/>
            <entry key="33" type="xstring" value="13 - Rådande väder - momentanvärde, 1 gång/tim resp 8 gånger/dygn"/>
            <entry key="34" type="xstring" value="12 - Sikt - momentanvärde, 1 gång/tim"/>
            <entry key="35" type="xstring" value="8 - Snödjup - momentanvärde, 1 gång/dygn, kl 06"/>
            <entry key="36" type="xstring" value="10 - Solskenstid - summa 1 timme, 1 gång/tim"/>
            <entry key="37" type="xstring" value="16 - Total molnmängd - momentanvärde, 1 gång/tim"/>
            <entry key="38" type="xstring" value="4 - Vindhastighet - medelvärde 10 min, 1 gång/tim"/>
            <entry key="39" type="xstring" value="3 - Vindriktning - medelvärde 10 min, 1 gång/tim"/>
        </config>
        <entry key="type" type="xstring" value="Dropdown"/>
        <entry key="limit_number_visible_options" type="xboolean" value="false"/>
        <entry key="number_visible_options" type="xint" value="5"/>
    </config>
    <config key="variables">
        <entry key="version" type="xstring" value="V_2019_09_13"/>
        <config key="tree">
            <config key="possible_choices">
                <entry key="used_variable" type="xstring" value="List(parameter_selection)"/>
                <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.js.base.node.configuration.selection.single.SingleSelectionDialogNodeFactory"/>
    <entry key="node-name" type="xstring" value="Single Selection Configuration"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Quick Form Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.quickforms"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.2.v202409110905"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Quick Forms"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.quickforms.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.2.v202409110905"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Single Selection Configuration"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.flowvariable.FlowVariablePortObject"/>
            <entry key="port_object_summary" type="xstring" value="Variables connection"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="d386671c-0e12-4b55-9ca5-6a6056acc91b"/>
    </config>
</config>
